@use './global/reset';

@use './global/global';
@use './global/layout';
@use './global/root';
@use './global/typography';

@use './components/buttons';
@use './components/hero';
@use './components/markdown';
@use './components/nav';
@use './components/paragraph';
@use './components/projects';
@use './components/team.scss';
@use './components/triangle';
@use './components/footer';

.logo {
  color: inherit;
  font-size: var(--text-size-md);
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-decoration: none;

  @media (min-width: 62rem) {
    font-size: var(--text-size-lg);
  }

  &::before {
    aspect-ratio: 1;
    background-image: url('ornament-v3.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    left: -0.25rem;
    position: absolute;
    top: 0.125rem;
    translate: -100%;
    width: 0.8125rem;
    
    @media (min-width: 62rem) {
      width: 1.25rem;
    }
  }
}

