{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="hero-container">
    <div class="hero">
        <h1 class="text-center"><span>{{ page.title | safe }}</span></h1>
    </div>
    <div class="hero-menu">
        <ul>
            {% set links = page.extra.links %}
            {% for link in links %}
            <li><a href="{{link.href}}" class="btn btn-secondary">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="paragraph">
    <div class="markdown">
        {{ page.content | safe }}
    </div>
</div>

{{ macros::page_funders(currentFunders=page.extra.funders, supporters=page.extra.supporters) }}

{% set length = page.extra.blogposts | length -%}
{% if length > 0 -%}
<div class="paragraph">
    <div class="markdown">
        <h2 id="news">Blog and news</h2>
        {% include "components/bloglist.html" %}
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news
        </a>
    </div>
</div>
{% endif -%}

{% endblock %}