{% extends "base.html" %}

{% block meta_content %}
<title>Data compression - Trifecta Tech Foundation</title>
{% endblock meta_content %}

{% block content %}
<div class="hero">
    <h1><span>Data compression</span></h1>
</div>
<div class="paragraph">
    <div class="markdown">
        {{ page.content | safe }}
    </div>
</div>
<div class="partners">
    <div class="partners-title">
        <h2>Funders & supporters</h2>
    </div>
    <div class="funders">
        <a class="card-link" href="https://devolutions.net/">
            <div class="funder">
                <div class="image devolutions"></div>
            </div>
        </a>
        <a class="card-link" href="https://memorysafety.org">
            <div class="funder">
                <div class="image prossimo"></div>
            </div>
        </a>
        <a class="card-link" href="https://chainguard.dev">
            <div class="funder">
                <div class="image chainguard"></div>
            </div>
        </a>
        <a class="card-link" href="https://tweedegolf.nl">
            <div class="funder">
                <div class="image tweedegolf"></div>
            </div>
        </a>
    </div>
</div>
<div class="paragraph">
    <div class="markdown">
        <h2>Blog and news</h2>
        <ul class="blog-list">
            <li>
                <a class="card-link" href="/blog/current-zlib-rs-performance">
                    <div class="meta">
                        <span class="date">Aug 8, 2024</span>
                        <span class="tag">zlib-rs</span><span class="tag">data compression</span><span class="tag">source: Trifecta Tech Foundation</span>
                    </div>
                    <h3>Current zlib-rs performance</h3>
                    <p><br />A crucial aspect of making zlib-rs successful is solid performance. In this post we'll see how the implementation performs today, and how we measure that performance.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
            <li>
                <a class="card-link" href="https://github.com/rust-lang/flate2-rs/releases/tag/1.0.29">
                    <div class="meta">
                        <span class="date">April 28, 2024</span>
                        <span class="tag">zlib-rs</span><span class="tag">source: github.com/rust-lang</span>
                    </div>
                    <h3>flate2 release v1.0.29 with new `zlib-rs` feature</h3>
                    <p><br />With the new zlib-rs feature, a new backend is enabled that brings in a SIMD-accelerated Rust implementation.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
            <li>
                <a class="card-link" href="https://www.sovereigntechfund.de/news/xz-structural-change">
                    <div class="meta">
                        <span class="date">April 4, 2024</span>
                        <span class="tag">Data compression</span><span class="tag">source: Sovereign Tech Fund</span>
                    </div>
                    <h3>xz incident shows the need for structural change</h3>
                    <p><br />At Sovereign Tech Fund, we're following the xz incident closely and listening to the many voices in the FOSS maintainer community.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news
        </a>
    </div>
</div>
{% endblock %}
