{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Privilege <span>boundary</span></h1>
</div>
<div class="paragraph">
    <div class="markdown">
        {{ page.content | safe }}
    </div>
</div>

{% include "components/funders.html" %}

<div class="paragraph">
    <div class="markdown">
        <h2>Blog and news</h2>
        {% include "components/bloglist.html" %}
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news
        </a>
    </div>
</div>
{% endblock %}