{% extends "base.html" %}

{% block meta_content %}
<title>Time synchronization - Trifecta Tech Foundation</title>
{% endblock meta_content %}

{% block content %}
<div class="hero">
    <h1>Time <span>synchronization</span></h1>
</div>
<div class="paragraph">
    <div class="markdown">
        {{ page.content | safe }}
    </div>
</div>
<div class="partners">
    <div class="partners-title">
        <h2>Funders & supporters</h2>
    </div>
    <div class="funders">
        <a class="card-link" href="https://sovereigntechfund.de">
            <div class="funder">
                <div class="image stf"></div>
            </div>
        </a>
        <a class="card-link" href="https://memorysafety.org">
            <div class="funder">
                <div class="image prossimo"></div>
            </div>
        </a>
        <a class="card-link" href="https://nlnet.nl">
            <div class="funder">
                <div class="image nlnetfoundation"></div>
            </div>
        </a>
        <a class="card-link" href="https://sidnfonds.nl">
            <div class="funder">
                <div class="image sidnfonds"></div>
            </div>
        </a>
        <!-- <a class="card-link" href="https://aws.amazon.com/">
            <div class="funder">
                <div class="image aws"></div>
            </div>
        </a> -->
        <a class="card-link" href="https://nlnet.nl/entrust/">
            <div class="funder">
                <div class="image ngi-zero-entrust"></div>
            </div>
        </a>
        <a class="card-link" href="https://nlnet.nl/assure/">
            <div class="funder">
                <div class="image ngi-assure"></div>
            </div>
        </a>
        <a class="card-link" href="https://tweedegolf.nl">
            <div class="funder">
                <div class="image tweedegolf"></div>
            </div>
        </a>
        <!-- <a class="card-link" href="https://cisco.com">
            <div class="funder">
                <div class="image cisco"></div>
            </div>
        </a> -->
    </div>
</div>
<div class="paragraph">
    <div class="markdown">
        <h2>Blog and news</h2>
        <ul class="blog-list">
            <li>
                <a class="card-link" href="https://letsencrypt.org/2024/06/24/ntpd-rs-deployment">
                    <div class="meta">
                        <span class="date">Jun 24, 2024</span>
                        <span class="tag">ntpd-rs</span><span class="tag">source: Let’s Encrypt</span>
                    </div>
                    <h3>More Memory Safety for Let’s Encrypt: Deploying ntpd-rs</h3>
                    <p><br />When we look at the general security posture of Let’s Encrypt, one of the things that worries us most is how much of the operating system and network infrastructure is written in unsafe languages like C and C++.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
            <li>
                <a class="card-link" href="https://tweedegolf.nl/en/blog/122/a-safe-internet-requires-secure-time">
                    <div class="meta">
                        <span class="date">May 24, 2024</span>
                        <span class="tag">ntpd-rs</span><span class="tag">source: Tweede golf</span>
                    </div>
                    <h3>A safe Internet requires secure time</h3>
                    <p><br />The internet has a hole at the bottom of its trust stack, and we need to do something about
                        it. In particular, the internet needs secure time synchronization to fortify the security of our
                        digital world.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
            <li>
                <a class="card-link" href="https://www.memorysafety.org/blog/fedora-linux-for-ntp-and-sudo/">
                    <div class="meta">
                        <span class="date">May 9, 2024</span>
                        <span class="tag">ntpd-rs</span><span class="tag">sudo-rs</span><span class="tag">source:
                            Prossimo</span>
                    </div>
                    <h3>Providing official Fedora Linux RPM packages for ntpd-rs and sudo-rs</h3>
                    <p><br />Memory safe NTP and sudo are now in Fedora Linux.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
            <li>
                <a class="card-link" href="https://tweedegolf.nl/en/blog/98/sovereign-tech-fund-invests-in-pendulum">
                    <div class="meta">
                        <span class="date">Aug 10, 2023</span>
                        <span class="tag">Pendulum</span><span class="tag">source: Tweede golf</span>
                    </div>
                    <h3>Sovereign Tech Fund invests in Pendulum</h3>
                    <p><br />Sovereign Tech Fund will support our effort to build modern and memory-safe implementations
                        of the Network Time Protocol (NTP) and the Precision Time Protocol (PTP).
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news
        </a>
    </div>
</div>
{% endblock %}