{% extends "base.html" %}

{% block meta_content %}
<title>Time synchronization - Trifecta Tech Foundation</title>
{% endblock meta_content %}

{% block content %}
<div class="hero">
    <h1><span>Time synchronization</span></h1>
</div>
<div class="paragraph">
    <div class="markdown">
        {{ page.content | safe }}
    </div>
</div>
<div class="paragraph">
    <div class="markdown">
        <h2>Blog and news</h2>
        <ul class="blog">
            <li>
                <a class="card-link" href="https://letsencrypt.org/2024/06/24/ntpd-rs-deployment">
                    <div class="meta">
                        <span class="date">Jun 24, 2024</span>
                        <span class="tag">ntpd-rs</span><span class="tag">source: Let’s Encrypt</span>
                    </div>
                    <h3>More Memory Safety for Let’s Encrypt: Deploying ntpd-rs</h3>
                    <p><br />When we look at the general security posture of Let’s Encrypt, one of the things that worries us most is how much of the operating system and network infrastructure is written in unsafe languages like C and C++.
                        <strong>Read more ...</strong>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news
        </a>
    </div>
</div>
{% endblock %}