{% extends "base.html" %}

{% block content %}


<div class="paragraph markdown">
    <div>
        <h2>All blog posts by tag</h2>
    </div>
    <div>
        <ul>
            {% for term in terms %}
            <li><a href="{{term.path}}"><strong>{{term.name}}</strong></a>
                <ul>
                    {% for page in term.pages %}
                        <li><a href="{{page.path}}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}