{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="hero">
    <h1>{{ page.title | safe }}: <span>workplan</span></h1>
</div>

{% set project = get_page(path=page.extra.backLink ~ ".md") %}
{{ macros::page_funders(currentFunders=project.extra.funders, supporters=project.extra.supporters) }}

<div class="paragraph">
    <div class="markdown">
        {{ page.content | safe }}
        <br />
        <a href={{ "/" ~ page.extra.backLink }}><< {{ page.extra.backTitle }}</a>
    </div>
</div>
{% endblock %}