footer {
  background-color: var(--color-secondary-400);
  padding-block: 3rem;
  position: relative;
  z-index: 0;

  @media (prefers-color-scheme: dark) {
    color: var(--color-secondary-200);
  }

  &::after {
    content: '';
    position: absolute;
    height: 0.5rem;
    width: calc(100% - 0.5rem);
    top: 0;
    left: 0;
    translate: 0 -100%;
    background-color: var(--color-primary-400);
    z-index: 1;
  }

  @media (min-width: 62rem) {
    padding-block: 4.5rem;
  }

  .container {
    display: grid;
    gap: 1.5rem;

    @media (min-width: 62rem) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .logo {
    @media (min-width: 62rem) {
      grid-column: span 3;
    }
  }

  .contact {
    @media (min-width: 62rem) {
      grid-column: span 9;
    }
  }
}