.markdown {
  > * + * {
    margin-block-start: calc(var(--text-size-md) * var(--line-height));
  }

  a {
    text-decoration-color: var(--color-secondary-400);
  }

  strong,
  b {
    font-weight: 600;
  }
}