nav {
  align-items: center;
  background-color: var(--color-secondary-200);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-block: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;

  .logo {
    translate: -1.25rem;
  }

  .logo svg {
    height: 3rem;
    width: 100%;
  }
}