.partners {
  position: relative;
  border-block-end: 1px solid var(--color-secondary-400);
  padding-block-end: 3rem;
  margin-block-start: 3rem;

  .partners-title {
    text-align: center;
    font-style: italic;
    padding-bottom: 0.5rem;

    &.supporters {
      margin-top: 3rem;
    }
  }

  &::after {
    background-image: url('ornament-separator.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 0;
    content: '';
    height: 1.5rem;
    position: absolute;
    translate: 0 50%;
    width: 100%;

    @media (min-width: 62rem) {
      height: 3rem;
    }
  }
}

.funders {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 62rem) {
    grid-template-columns: repeat(6, 1fr);

    &.current-funders {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.funder {
  align-items: center;
  justify-content: start;
  background-color: var(--color-bg-logo);
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
  padding: 0rem;
  margin-top: 0.5rem;
  cursor: pointer;

  @media (min-width: 62rem) {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    text-align: center;
  }

  .image {
    min-height: 3.5rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 5rem;
    pointer-events: none;

    @media (min-width: 62rem) {
      width: 7rem;
      position: relative;
    }

    &.prossimo {
      background-image: url('/funders/prossimo.svg');
    }

    &.nlnetfoundation {
      background-image: url('/funders/nlnetfoundation.png');
    }

    &.sta {
      background-image: url('/funders/sta.svg');
    }

    &.sidnfonds {
      background-image: url('/funders/sidnfonds.png');
    }

    &.ngi-assure {
      background-image: url('/funders/ngi-assure.svg');
    }

    &.ngi-zero-core {
      background-image: url('/funders/ngi-zero-core.svg');
    }

    &.ngi-zero-entrust {
      background-image: url('/funders/ngi-zero-entrust.svg');
    }

    &.cisco {
      background-image: url('/funders/cisco.svg');
    }

    &.aws {
      background-image: url('/funders/aws.svg');
      width: 3.5rem;  
    }

    &.rustfoundation {
      background-image: url('/funders/rustfoundation.png');
    }

    &.rustedu {
      background-image: url('/funders/rustedu.svg');
    }

    &.tweedegolf {
      background-image: url('/funders/tweedegolf.svg');
    }

    &.chainguard {
      background-image: url('/funders/chainguard-2025.svg');
      @media (min-width: 62rem) {
        width: 8rem;
      }
    }

    &.devolutions {
      background-image: url('/funders/devolutions.svg');
    }

    &.isrg {
      background-image: url('/funders/isrg.svg');
      width: 5rem; 
    }

    &.min-bzk {
      background-image: url('/funders/min-bzk.png');
      @media (min-width: 62rem) {
        width: 10rem;
      }
    }

    &.canonical {
      background-image: url('/funders/canonical.svg');
    }

    &.astral {
      background-image: url('/funders/astral.svg');
    }

    &.icann {
      background-image: url('/funders/icann-logo-globe-with-name.png');
    }
  }
}

.funder dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  position: fixed;
  text-align: center;
  width: min(calc(100% - 8rem), 34rem);

  > * + * {
    margin-block-start: 2rem;
  }

  > .image {
    min-height: auto !important;
    aspect-ratio: 16 / 9;
    max-width: 12rem;
    width: 100% !important;
  }
}

.funder dialog::backdrop {
  background-color: rgba(var(--color-primary-400-rgb), 0.5);
}


.membership {
  .image {
    min-height: 4rem;

    &.openssf {
      background-image: url('/memberships/openssf.svg');
    }
  
    &.linuxfoundation {
      background-image: url('/memberships/linuxfoundation.svg');
    }
    
    &.nonprofit-cyber {
      
      background-image: url('/memberships/nonprofit-cyber.webp');
    }

    &.openinfra {
      background-image: url('/memberships/openinfra.png');
    }
 
    &.anbi {
      max-height: 3rem;
      background-image: url('/memberships/anbi.svg');
    }

    &.ngosource {
      
      background-image: url('/memberships/ngosource.png');
    }

    &.rustfoundation {
      
      background-image: url('/memberships/rustfoundation.png');
    }
  }
}