.hero-container {
    .hero-menu {
        display: block;
        text-align: center;
        margin: auto;
        padding-top: 2rem;

        li {
            display: inline-block;
            padding-right: 0.5rem;

            a.btn-secondary {
                padding-inline: 0.5rem;
                height: 2rem;
            }
        }
    }
}