.hero-container {
    .hero-menu {
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 36.75rem;
        }

        li {
            flex: 1;

            a {
                width: 100%;
                padding-inline: 0;

                &:hover {
                    background-color: var(--color-secondary-400);
                }
            }

            &:not(:last-child) {
                a {
                    border-inline-end: 0;
                }
            }
        }
    }
}