.hero-container {
    .hero-menu {
        display: block;
        text-align: center;
        margin: auto;
        padding-top: 2rem;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        li {
            a.btn-secondary {
                padding-inline: 0.5rem;
                height: 2rem;
            }
        }
    }
}