.projects {
  border-block-end: 1px solid var(--color-secondary-400);
  padding-block-end: 3rem;
  position: relative;

  @media (min-width: 62rem) {
    padding-block-end: 6rem;
  }

  &::after {
    background-image: url('ornament.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 0;
    content: '';
    height: 1.5rem;
    position: absolute;
    translate: 0 50%;
    width: 100%;

    @media (min-width: 62rem) {
      height: 3rem;
    }
  }

  .items {
    h2 {
      grid-column: 4 / span 6;
      margin-bottom: 1.5rem;
    }

    display: grid;
    gap: 1.5rem;
    
    @media (min-width: 62rem) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .project {
    --shadow: 0.5rem;
    border: 1px solid var(--color-primary-400);
    position: relative;
    background-color: white;
    padding: 1.5rem;
    
    @media (min-width: 62rem) {
      grid-column: 4 / span 6;
      padding: 3rem 1.5rem;
    }

    &::after {
      content: '';
      background-color: var(--color-primary-400);
      height: 100%;
      width: 100%;
      top: calc(var(--shadow) * -1);
      left: calc(var(--shadow) * -1);
      position: absolute;
      z-index: -1;
    }

    .triangle-ornament {
      aspect-ratio: 1;
      background-color: var(--color-primary-400);
      position: absolute;
      width: var(--shadow);
      
      &.top {
        clip-path: polygon(0 0, 0% 100%, 100% 100%);  
        right: 0;
        top: 0;
        translate: 0 -100%;
      }

      &.bottom {
        bottom: 0;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        left: 0;
        translate: -100%;
      }
    }
  }
}