.project {
    .project-menu {
        display: block;
        text-align: center;
        margin: auto;
        padding-top: 2rem;

        li {
            display: inline-block;
            padding-right: 0.5rem;

            a.btn-secondary {
                padding-inline: 0.5rem;
                height: 2rem;
            }
        }
    }

    .hero {
        h1 {
            grid-column: 4 / span 6;
        }
        padding-block: 3rem;
    }
}