.team {
  > * + * {
    margin-block-start: 1.5rem;
  }
}

.member {
  align-items: center;
  border: 1px solid var(--color-secondary-300);
  display: flex;
  gap: 0.75rem;
  position: relative;

  &::after {
    background-image: url('ornament-portrait.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    translate: 50%;
  }

  .image {
    aspect-ratio: 1;
    background-color: var(--color-secondary-300);
    width: 6rem;
  }
}