.triangle {
  margin-inline: auto;
  margin-block-start: 3rem;
  position: relative;
  width: 100%;
  
  @media (min-width: 62rem) {
    max-width: 66.66%;
    margin-block-start: 4.5rem;
  }

  p {
    border: 1px solid var(--color-secondary-400);
    background-color: var(--color-secondary-200);
    padding: 0.5rem;
    position: absolute;
    text-align: center;

    &:first-line {
      font-weight: 600;
    }

    &.safe {
      top: 0;
      left: 50%;
      translate: -50%;
    }

    &.open {
      bottom: 0;
      left: 0;
    }

    &.public {
      bottom: 0;
      right: 0;
    }
  }
}