{% extends "base.html" %}

{% block meta_content %}
<title>{{ page.title | safe }}</title>
{% endblock meta_content %}

{% block content %}
<div class="paragraph markdown">
    <div class="blog-item">
        <article>
            <h1>{{ page.title | safe }}</h1>
            <br />
            <div class="meta">
                <span class="date">Aug 8, 2024</span>
                <span class="tag">Author: Folkert de Vries</span><span class="tag">source: Trifecta Tech Foundation</span>
            </div>
            <div class="blog-body">          
                {{ page.content | safe }}      
            </div>
        </article>
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news and blogs
        </a>
    </div>
</div>
{% endblock content %}