{% extends "base.html" %}

{% block meta_content %}
<title>About - Trifecta Tech Foundation</title>
{% endblock meta_content %}

{% block content %}
<div class="hero">
  <h1><span>About us</span></h1>
</div>
<div class="paragraph">
  <div class="markdown">
    <h2>Trifecta Tech Foundation</h2>
    <p>
      Castellastraat 26 <br />
      6512 EX Nijmegen <br />
      The Netherlands <br /> <br />

      +31 24 30 10 484 <br />
      info@trifectatech.org <br />
      <br />
      Chamber of Commerce Registration (KvK): 93645546
      Tax Registration Number (RSIN): 866479004
    </p>
    <h3>Documents</h3>
    <ul>
      <li>
        <a href="/docs/statuten-Stichting-Trifecta-Tech-Foundation.pdf">Statuten</a> (Bylaws, In Dutch)
      </li>
      <li>
        <a href="/docs/bylaws-Stichting-Trifecta-Tech-Foundation.pdf">Bylaws</a> (certified translation)
      </li>
    </ul>
  </div>
</div>
<div class="team">
  <h2>Team</h2>
  <div class="members">
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">Pendulum</span> <span class="tag">sudo-rs</span>
          </div>
        </div>
        <p class="name">Ruben Nijveld</p>
        <p>ruben@trifectatech.org</p>
        <p>Software engineer</p>
        <br />
        <a href="https://github.com/rnijveld" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">Pendulum</span>
          </div>
        </div>
        <p class="name">David Venhoek</p>
        <p>david@trifectatech.org</p>
        <p>Security software engineer</p>
        <br />
        <a href="https://github.com/davidv1992" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">teach-rs</span>
          </div>
        </div>
        <p class="name">Henk Oordt</p>
        <p>henk@trifectatech.org</p>
        <p>Embedded software engineer</p>
        <br />
        <a href="https://github.com/hdoordt" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">sudo-rs</span> <span class="tag">Pendulum</span>
          </div>
        </div>
        <p class="name">Marc Schoolderman</p>
        <p>ruben@trifectatech.org</p>
        <p>Software engineer</p>
        <br />
        <a href="https://github.com/squell" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">Pendulum</span>
          </div>
        </div>
        <p class="name">Folkert de Vries</p>
        <p>david@trifectatech.org</p>
        <p>Systems software engineer</p>
        <br />
        <a href="https://github.com/folkertdev" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">Pendulum</span>
          </div>
        </div>
        <p class="name">Dion Dokter</p>
        <p>dion@trifectatech.org</p>
        <p>Embedded Software engineer</p>
        <br />
        <a href="https://github.com/diondokter" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">Pendulum</span>
          </div>
        </div>
        <p class="name">Marlon Peeters</p>
        <p>marlonpeeters@trifectatech.org</p>
        <p>Software engineer</p>
        <br />
        <a href="https://github.com/cikzh" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
    <div class="member">
      <div class="image"></div>
      <div>
        <div class="blog">
          <div class="meta">
            <span class="tag">Pendulum</span>
          </div>
        </div>
        <p class="name">Tamme Dittrich</p>
        <p>tamme@trifectatech.org</p>
        <p>Software engineer</p>
        <br />
        <a href="https://github.com/tdittr" target="_blank" class="btn btn-secondary">GitHub</a>
      </div>
    </div>
  </div>
</div>
<div class="team">
  <h2>Board</h2>
  <p>
    The Tricecta Tech Foundation was founded in April of 2024 by Erik Jonkers (chair), Hugo van de Pol (secretary) and
    Marlon Baeten (treasurer) as the long-term home for the
    non-profit work orginating from <a href="https://tweedegolf.nl">Tweede golf</a>.
  </p>
  <div class="members">
    <div class="member">
      <div class="image erik"></div>
      <div>
        <p class="name">Erik Jonkers</p>
        <p>erik@trifectatech.org</p>
        <p>Chair</p>
      </div>
    </div>
    <div class="member">
      <div class="image hugo"></div>
      <div>
        <p class="name">Hugo van de Pol</p>
        <p>hugo@trifectatech.org</p>
        <p>Secretary</p>
      </div>
    </div>
    <div class="member">
      <div class="image marlon"></div>
      <div>
        <p class="name">Marlon Baeten</p>
        <p>marlon@trifectatech.org</p>
        <p>Treasurer</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}