{% extends "base.html" %}

{% block content %}

{% set_global page_split = page.content | split(pat="======") %}
{% set_global content1 = page_split.0 %}
{% set_global content2 = page_split.1 %}
  
<div class="hero">
  <h1><span>About us</span></h1>
</div>
<div class="paragraph">
  <div class="markdown">
    {{ content1 | safe }}
  </div>
</div>

{% include "components/partners.html" %}

<div class="paragraph">
  <div class="markdown">
    {{ content2 | safe }}
  </div>
</div>

{% include "components/staff.html" %}

{% include "components/maintainers.html" %}

{% include "components/board.html" %}

{% endblock %}