<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  
  {% block meta_content %}
  <title>Trifecta Tech Foundation</title>
  {% endblock meta_content %}
  
  <link rel="stylesheet" href="/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="image" property="og:image" content="https://trifectatech.org/trifecta-tech-foundation-share.png">

</head>

<body>
  {% include "components/nav.html" %}
  <main>
    <div class="container sections">
      {% block content %} {% endblock %}
    </div>
  </main>
  {% include "components/footer.html" %}
  <script src="/main.js"></script>
</body>
</html>
