<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Trifecta Tech Foundation</title>
  
  <link rel="stylesheet" href="/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  {% include "components/nav.html" %}
  <main>
    <div class="container sections">
      {% block content %} {% endblock %}
    </div>
  </main>
  <script src="/main.js"></script>
</body>
</html>
