{% extends "base.html" %}

{% block content %}
<div class="paragraph blog markdown">
    <div class="blog-item">
        <article>
            <h1>{{ page.title | safe }}</h1>
            <br />
            {% include "components/blogpost_metablock.html" %}
            <div class="blog-body">
                {{ page.content | safe }}
                <br />
                <div>
                    {% if page.extra.externalLink is defined -%}
                    <a href={{page.extra.externalLink}}>>> Read more on <strong>{{page.extra.source}}</strong></a>
                    {% endif -%}
                    <br />
                </div>
                <hr />
            </div>
        </article>
    </div>
    <div>
        <a href="/news" class="btn btn-primary">
            <div class="triangle-ornament top"></div>
            <div class="triangle-ornament bottom"></div>
            All news and blogs
        </a>
    </div>
</div>
{% endblock content %}