{% extends "base.html" %}

{% block content %}
    {% include "components/hero.html" %}

    <div class="triangle">
        {{ load_data(path="static/triangle.svg") | safe }}
        <p class="safe">Safe software</p>
        <p class="open">Open source</p>
        <p class="public">Public interest</p>
    </div>

    <div class="paragraph markdown">
        <h3>Mission</h3>
        <p>Lorem ipsum dolor sit amet consectetur <a href="">adipisicing</a> elit. Officia laudantium dolor ratione vitae illo iusto est velit culpa! Porro iusto debitis, nesciunt magnam accusamus nisi quos quisquam sequi aliquid aperiam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi ullam velit laudantium accusamus deleniti expedita ratione maxime quae eveniet eum. Molestias ullam iusto aut repudiandae est, voluptatibus nihil voluptates fugit.</p>
    </div>
    <div class="paragraph markdown">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium dolor ratione vitae illo iusto est velit culpa! Porro iusto debitis, nesciunt magnam accusamus nisi quos quisquam sequi aliquid aperiam.</p>
    </div>
    <div class="team">
        <h3>Our team</h3>
        <div class="member">
            <div class="image"></div>
            <div>
                <p>Erik</p>
                <p>erik@trifecta.com</p>
            </div>
        </div>
        <div class="member">
            <div class="image"></div>
            <div>
                <p>Erik</p>
                <p>erik@trifecta.com</p>
            </div>
        </div>
        <div class="member">
            <div class="image"></div>
            <div>
                <p>Erik</p>
                <p>erik@trifecta.com</p>
            </div>
        </div>
    </div>
{% endblock content %}
