{% macro page_funders(currentFunders, supporters) %}

{% set funders = load_data(path = "data/funders.json") %}
<div class="partners">
    {% if currentFunders %}
    <div class="partners-title current-funders">
        <h3>Supporters & funders</h3>
    </div>
    <div class="funders current-funders">
        {% for name in currentFunders %}
            {% for funder in funders %}
                {% if funder.image == name %}
                    {{ macros::funder_tile(funder=funder) }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    {% if supporters %}
    <div class="partners-title supporters">
        <h4>Past supporters & funders</h4>
    </div>
    <div class="funders supporters">
        {% for name in supporters %}
            {% for funder in funders %}
                {% if funder.image == name %}
                    {{ macros::funder_tile(funder=funder) }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
</div>



{% endmacro page_funders %}

{% macro funder_tile(funder) %}
<div class="funder card-link">
    <div class="image {{funder.image}}"></div>

    <div class="modal">
        <div class="modal-content">
            <button class="modal-close" aria-label="Close modal">&times;</button>
            <div class="image {{funder.image}}"></div>
            <h3>{{funder.name}}</h3>
            {% if funder.url %}
            <a class="btn btn-primary" title="{{funder.name}}" href="{{funder.url}}" target="_blank" rel="noopener">Go to website</a>
            {% endif %}
            {% if funder.projects %}
            <div class="support markdown">
            <strong>Support</strong>
            <ul>  
            {% for project in funder.projects %}           
                <li class="project">
                    In {{project.year|join(sep=", ") }}: support for 
                    {% if project.name %}
                    <i><a href="/projects/{{project.name}}">{{project.name}}</a></i>, part of 
                    {% endif %}
                    our <i>{{project.initiative}}</i> initiative.
                    {% if project.supportType %}
                        {{project.supportType}}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro funder_tile %}
