{% macro page_funders(currentFunders, supporters) %}

{% set funders = load_data(path = "data/funders.json") %}
<div class="partners">
    {% if currentFunders %}
    <div class="partners-title current-funders">
        <h3>Supporters & funders</h3>
    </div>
    <div class="funders current-funders">
        {% for name in currentFunders %}
            {% for funder in funders %}
                {% if funder.image == name %}
                    {{ macros::funder_tile(funder=funder) }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    {% if supporters %}
    <div class="partners-title supporters">
        <h4>Past supporters & funders</h4>
    </div>
    <div class="funders supporters">
        {% for name in supporters %}
            {% for funder in funders %}
                {% if funder.image == name %}
                    {{ macros::funder_tile(funder=funder) }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
</div>

<style>
{% for funder in funders %}
#{{funder.image}} {
    display: none;
    scroll-margin-top: 24rem;
}

#{{funder.image}}:target {
    display: block;
}
{% endfor %}
</style>

{% endmacro page_funders %}

{% macro funder_tile(funder) %}
<div class="funder card-link" href="#{{funder.image}}-top">
    <div class="image {{funder.image}}"></div>

    <dialog>
        <h3>{{funder.name}}</h3>
        {% if funder.support %}
        <div>
          <strong>Support</strong>
          <p class="support">{{funder.support}}</p>
        </div>
        {% endif %}
        <a class="btn btn-primary" title="{{funder.name}}" href="{{funder.url}}">Go to website</a>
    </dialog>
</div>
{% endmacro funder_tile %}
