{% extends "base.html" %}

{% block meta_content %}
<title>News and blog - Trifecta Tech Foundation</title>
{% endblock meta_content %}

{% block content %}
<div class="hero">
    <h1><span>Support us</span></h1>
</div>
<div class="paragraph funders">
    <div class="markdown">
        <p>
            We need your financial backing to maintain our software and start new projects. 
            Please get in touch with us via <a href="mailto:donate@trifectatech.org">donate@trifectatech.org</a>, if
            you are interested in financially supporting us.
        </p>
        <h3>
            Maintenance work in 2025-2026
        </h3>
        <p>
            Fund two-year maintenance of our current projects: Pendulum's ntpd-rs and statime, sudo-rs and teach-rs.
            We seek four sponsors of € 50.000 each to raise € 200.000.
        </p>
        <h3>
            Support new initiatives
        </h3>
        <p>
            We currenly seek support for two new initiatives:
            <ul>
                <li>
                    "Secure time for a safe internet". Funding target: € 425.000,-
                </li>
                <li>
                    "zlib, xz and zstd: building a data compression ecosystem". Funding target: € 395.000,-
                </li>
            </ul>
        </p>
        <h3>
            Join Prossimo, Sovereign Tech Fund, SIDN fonds, and NLnet Foundation
        </h3>
        <p>
            Your backing ensures that we can continue to improve the security of vital infrastructure.
            <br />
            You'll join <a href="https://www.memorysafety.org/">Prossimo</a>, <a
                href="https://www.sovereigntechfund.de/">Sovereign Tech Fund</a>, <a
                href="https://www.sidnfonds.nl/excerpt">SIDN fonds</a> and <a href="https://nlnet.nl/">NLnet
                Foundation</a>, world leading organizations striving for an open and secure internet, who have
            previously donated to or funded one of our projects.</p>
        <img src="/funders/trifecta-funders.png" />
    </div>
</div>
{% endblock content %}