{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1><span>Technology</span></h1>
</div>
<div class="paragraph">
    <div class="markdown">
        <h3>The right tool for the job</h3>
        <p>
            Vital infrastructure are those systems that we as a society rely on daily. The software that these
            systems are built on needs to be safe, secure and reliable. 
        </p>
        <p>           
            The programming language Rust is a modern technology that - due to its inherent memory-safety, its strict type system and its helpful tools - aids developers in writing code that
            is robust, more than C or C++ usually does.
        </p>
        <p>
            While we don't view Rust as a silver bullet, we have gained enough
            experience and knowledge of this language to confidently claim we are better engineers because of it, and
            our software is more robust because of it.
        </p>
    </div>
</div>
<div class="paragraph">
    <div class="quote">
        <div class="triangle-ornament top"></div>
        <div class="triangle-ornament bottom"></div>
        <div>
            <div>
                We believe that software must become safer; that this is paramount in critical infrastructure; and that
                Rust is an outstanding choice of technology for this purpose.
            </div>
        </div>
    </div>
</div>
<div class="paragraph">
    <div class="markdown">
        <h3>Supporting the Rust ecosystem</h3>
        <p>
            As a key technology for the security and safety of vital systems, we are a strong supporter of the Rust community and an active contributor to the Rust ecosystem. 
        </p>
        <h3>Education</h3>
        <p>
            Education is not just a prerequisite but a powerful catalyst for any industry or community to embrace a new technology, such as Rust.
        <p>
            Our project, teach-rs, is a university course for computer science students that introduces the Rust Programming Language. It is available for anyone who wants to teach Rust.
        </p>
        <p>
            Read more about teach-rs on our <a href="/initiatives/education">education page</a>.
        </p>

    </div>
</div>
{% endblock content %}