{% extends "base.html" %}

{% block meta_content %}
<title>Technology - Trifecta Tech Foundation</title>
{% endblock meta_content %}

{% block content %}
<div class="hero">
    <h1><span>Technology</span></h1>
</div>
<div class="paragraph">
    <div class="markdown">
        <p>
            Vital infrastructure are those systems that we as a society rely on daily. The software that these
            systems are built on needs to be safe, secure and reliable. 
        </p>
        <p>           
            Rust is a modern technology that - due to its inherent memory-safety, its strict type system and its helpful tools - aids developers in writing code that
            is robust, more than C or C++ usually does.
        </p>
        <p>
            While we don't view Rust as a silver bullet, or even the only possible solution, we have gained enough
            experience and knowledge of this language to confidently claim we are better engineers because of it, and
            our software is more robust because of it.
        </p>
    </div>
</div>
<div class="paragraph">
    <div class="quote">
        <div class="triangle-ornament top"></div>
        <div class="triangle-ornament bottom"></div>
        <div>
            <div>
                We believe that software must become safer; that this is paramount in critical infrastructure; and that
                Rust is an outstanding choice of technology for this purpose.
            </div>
            <!-- div class="cite">First name, last name</div -->
        </div>
    </div>
</div>
{% endblock content %}