<ul class="blog-list">
    {% for page in page.extra.blogposts %}
    {% set post = get_page(path="./blog/" ~ page ~ ".md") %}
    <li>
        <a class="card-link" href="{{post.extra.link}}">
            <div class="meta">
                <span class="date">{{post.date}}</span>
                {% for tag in post.taxonomies.tags %}
                    <span class="tag">{{tag}}</span>
                {% endfor %}
                <span class="tag">source: {{post.extra.source}}</span>
            </div>
            <h3>{{post.title}}</h3>
            <p><br />{{post.extra.excerpt}}
                <strong>Read more ...</strong>
            </p>
        </a>
    </li>
    {% endfor %}
</ul>
