<footer>
  <div class="container">
    {% include "components/logo.html" %}
    {% set rss = get_url(path="/rss-feed.xml") %}
    {% set atom = get_url(path="/atom-feed.xml") %}
    <div class="contact">
      <b>Trifecta Tech Foundation</b> <br />
      Castellastraat 26  <br />
      6512 EX Nijmegen  <br />
      The Netherlands  <br /> <br />
  
      <a href="tel:+31243010484">+31 24 30 10 484</a><br />
      <a href="mailto:contact@trifectatech.org">contact@trifectatech.org</a><br />  
    </div>
    <div class="socials">   
      <b>Follow us</b><br /> 
      <a href="https://github.com/trifectatechfoundation">GitHub</a><br />
      <a href="https://www.linkedin.com/company/trifecta-tech-foundation/">LinkedIn</a><br />
      <a rel="me" href="https://fosstodon.org/@trifectatech">Mastodon</a><br />
      <a href="https://bsky.app/profile/trifectatech.bsky.social">Bluesky</a><br />
      <a href={{rss}}>RSS</a> <a href={{atom}}>Atom</a>
    </div>
  </div>
</footer>
