<div class="projects">
    {% set categories = get_taxonomy(kind="category") %}
    {% set infrastructureItems = categories.items | filter(attribute="name", value="infrastructure") | first %}
    {% set ecosystemItems = categories.items | filter(attribute="name", value="ecosystem") | first %}
    <div class="project-title">
        <h2 id="infrastructure">Infrastructure projects</h2>
    </div>
    <div class="items">
        {% for initiative in infrastructureItems.pages | reverse %}
        {% include "components/initiative_item_summary.html" %}
        {% endfor %}
    </div>
    <div class="project-title">        
        <h2 id="ecosystem">Ecosystem projects</h2>
    </div>
    <div class="items">
        {% for initiative in ecosystemItems.pages %}
        {% include "components/initiative_item_summary.html" %}
        {% endfor %}
    </div>
</div>