<nav>
  <div class="container">
    {% include "components/logo.html" %}
    <div class="menu">
      <div class="color-scheme">
        <div class="moon">
          {{ load_data(path="static/moon.svg") | safe }}
        </div>
        <div class="sun">
          {{ load_data(path="static/sun.svg") | safe }}
        </div>
      </div>
      <div class="hamburger">
        {{ load_data(path="static/bars.svg") | safe }}
      </div>
    </div>
    <div class="menu-panel">
      <div>
        <a href="/">Home</a>
        <a>Projects</a>
        <div>
          <a class="subitem" href="/initiatives/time-synchronization">Time synchronization</a>
          <a class="subitem" href="/initiatives/privilege-boundary">Privilege boundary</a>
          <a class="subitem" href="/initiatives/data-compression">Data compression</a>
          <a class="subitem" href="/initiatives/automated-demand-response">Open ADR 3.0</a>
        </div>
        <a href="/news">News</a>
        <a href="/tech">Technology</a>
        <a href="/support">Support us</a>
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</nav>