<nav>
  <div class="container">
    {% include "components/logo.html" %}
    <div class="menu">
      <div class="color-scheme">
        <div class="moon">
          {{ load_data(path="static/moon.svg") | safe }}
        </div>
        <div class="sun">
          {{ load_data(path="static/sun.svg") | safe }}
        </div>
      </div>
      <div class="hamburger">
        {{ load_data(path="static/bars.svg") | safe }}
      </div>
    </div>
    <div class="menu-panel">
      <div>
        <a href="/">Home</a>
        <a href="/initiatives">Our work</a>
        <a href="/news">News & blogs</a>
        <a href="/tech">Technology</a>
        <a href="/support">Support us</a>
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</nav>